$ol-theme-color: #3171ff ;

$ol-menu-text: rgba(256, 256, 256, 0.6) ;
$ol-menu-hover-text: #fff ;
$ol-menu-active-text: #fff ;
 
$ol-menu-bg: #16224a ;
$ol-menu-hover-bg: #16224a ;
$ol-sub-menu-bg: #1a2752 ;
$ol-sub-menu-hover-bg: #1a2752 ;
$ol-menu-active-bg: $ol-theme-color ;


